html{
  box-sizing: border-box;
}

*,
*::after,*::before{
  box-sizing: inherit;
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.nav-logo{
  flex: start;
}

.nav-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
  align-items: center;
  justify-content: space-between;
}

