<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{ % static 'css/reset.css' % }">
  <link rel="stylesheet" href="{ % static 'css/card/card.css' % }">
  <title></title>
</head>
<body>
  <div class="card">
    <img src="{ % static 'images/2024/01/06/disappointed_cat.jpg' % }" alt="card image" class="card-image">
    <h1 class="card-title">Card Title</h1>
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam voluptates distinctio beatae velit repellendus ad?</p>
    <button class="card-btn"></button>
  </div>
</body>
</html>

 