<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tests</title>
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/test/test.css">
</head>
<body>
  <div class="container">
    <p class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, commodi.</p>
    <ul class="answers">
      <ul><button id="answer-btn" class="answers-answer">Ответ 1</button></ul>
      <ul><button id="answer-btn" class="answers-answer">Ответ 2</button></ul>
      <ul><button id="answer-btn" class="answers-answer">Ответ 3</button></ul>
      <ul><button id="answer-btn" class="answers-answer">Ответ 4</button></ul>
    </ul>
  </div>

  <script src="../../static/css/test/test.js"></script>
</body>
</html>