
.card{
  max-width: 250px;
}
.card-image{
  max-width: 250px;
  max-height: 150px;
  margin-bottom: 10px;
}
.card-title{
  margin-bottom: 10px;
}
.card-text{
  margin-bottom: 10px;
}
.card-btn{
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #5E7F6E;
}